@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

.card {
  font-weight: bold;
  padding: 0;
  text-align: right;
  color: #181a1a;

  height: 270px;
  width: 469px;
  box-shadow: 0 1px 5px #00000099;
  background-image: url(assets/CardBig.svg);
  border-radius: 0px;
  background-size: cover;

  position: relative;

  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0);
}

.card:hover {
  transition-duration: 150ms;
  cursor: pointer;
}

.card .glow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 30px;
  background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
}

.header--glow-circle {
  width: 881px;
  height: 881px;
  border-radius: 900px;
  background: linear-gradient(175deg, rgba(66, 62, 224, 0.40) 0%, rgba(129, 45, 226, 0.40) 100%);
  filter: blur(150px);
}

.header--glow-circle2{
  width: 1211px;
  height: 1100px;
  border-radius: 900px;
  background: linear-gradient(175deg, rgba(66, 62, 224, 0.40) 0%, rgba(129, 45, 226, 0.40) 100%);
  filter: blur(150px);
}


.header--glow-pic{
  width:370px;
  height: 560px;
  border-radius: 900px;
  background: linear-gradient(175deg, rgba(66, 62, 224, 0.40) 0%, rgba(129, 45, 226, 0.40) 100%);
  filter: blur(150px);
}

